<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../css/style.css" /> -->
    <title>Stellar Wedding</title>
  </head>
  <body>
    <p>Le jeu est uniquement disponible sur PC..</p>
    <p>Si tu ne souhaites pas y jouer, tu peux simplement remplir le formulaire ci dessous !</p>
    <p>Sinon... On se retrouve sur PC 😄</p>

    <form action="" method="post">Le form</form>
  </body>
</html>
